log:
    ingame: true
    console: true
    file: false
permissions:
    opallperms: false
    opingame: false
    opdebug: false
global:
    kick: true
    broadcastkick: true
    broadcastmsg: "&1[SG] &c%p was kicked for %v violations!"
checks:
    movement_flight:
        enabled: true
        buffer: 0.6
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bFlying is disabled on this server!"
    movement_invalidmove:
        enabled: true
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bInvalid move!"
    movement_fall:
        enabled: true
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bTrying to avoid that fall damage, huh?"
    movement_speed:
        enabled: true
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bYou moved too quickly!"
    movement_packets:
        enabled: true
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bSent too many packets!"
    combat_speed:
        enabled: true
        buffer: 0.5
        maxvl: 500
        maxhits: 8
        kick: true
        kickmsg: "&1[SG] &bTry hitting slower next time!"
    combat_reach:
        enabled: true
        distance: 3.8
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bTry reducing your hit range!"
    blockbreak_reach:
        enabled: true
        buffer: 0.5
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bTried hitting a block out of range!"
    blockbreak_speed:
        enabled: true
        buffer: 0.5
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bTried breaking blocks too quickly!"
    blockbreak_frequency:
        enabled: true
        cooldown: 5.0
        maxbps: 10
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bTried breaking blocks too quickly!"
        pendingmsg: "&1[SG] &bPlease wait %c seconds before breaking another block!"
        cooldownmsg: "&1[SG] &bYou can now break blocks again!"
    blockplace_reach:
        enabled: true
        buffer: 0.5
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bTried placing a block out of range!"
    blockplace_speed:
        enabled: true
        maxvl: 500
        kick: true
        kickmsg: "&1[SG] &bTried placing blocks too quickly!"